/*
  Use mixin font face like this
  https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
*/
// @include font-face(Lausanne, '/static/fonts/Lausanne-300', 300, normal, eot ttf woff woff2);
// @include font-face(Lausanne, '/static/fonts/Lausanne-300Italic', 300, italic, eot ttf woff woff2);

body {
  // font-family: Lausanne, sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #__next {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    font-style: italic;
  }
}

h1, h2, p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  width: auto;
  height: auto;
}